.container{
    display: flex;
    align-items: center;
    margin: 100px 0 40px 100px;
}

.text-box{
    margin-left: 20px;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}

body{
    background-color: black;
}

.message {
    color: white;
    font-size: 20px;
    margin-left: 100px;
  }